{% extends "base/main.html" %}
{% block title %}Profile - CashPop{% endblock title %}

{% block content %}

<!-- Profile Content -->
<main class="profile">
  <div class="container">
    <h1 class="page-title">My Profile</h1>
    
    <div class="profile-container">
      {% include "base/profile_sidebar.html" %}
      
      <div class="profile-main">
        {% include "base/profile_nav_links.html" %}
        
        
        <div class="profile-tab-content" id="settings">
            <h2>Account Settings</h2>
            {% if request.user.useraccountdetail is None %}
            <form class="settings-form" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="profile-name">Account Number</label>
                <input type="text" name="account_number" id="profile-name" >
              </div>
              <div class="form-group">
                <label for="profile-email">Bank Name</label>
                <input type="text" name="bank_name" id="profile-email">
              </div>
              <div class="form-group">
                <label for="profile-paypal">Full Name</label>
                <small>Note: it must be the same with the one on your bank account</small>
                <input type="text" name="full_name" id="profile-paypal">
              </div>
              <input class="start-link" type="submit" value="Save">
              {% comment %} <h3>Notification Preferences</h3>
              <div class="form-check">
                <input type="checkbox" id="notify-new-tasks" checked>
                <label for="notify-new-tasks">New task alerts</label>
              </div>
              <div class="form-check">
                <input type="checkbox" id="notify-payments" checked>
                <label for="notify-payments">Payment confirmations</label>
              </div>
              <div class="form-check">
                <input type="checkbox" id="notify-promotions">
                <label for="notify-promotions">Promotional messages</label>
              </div>
              <button type="submit" class="btn btn-primary">Save Changes</button> {% endcomment %}
            </form>
            {% else %}

            <div>
                <div class="form-group">
                    <label for="profile-name">Account Number</label>
                    <h4> {{request.user.useraccountdetail.account_number}} </h4>
                  </div>
                  <div class="form-group">
                    <label for="profile-email">Bank Name</label>
                    <h4> {{request.user.useraccountdetail.bank_name}} </h4>
                  </div>
                  <div class="form-group">
                    <label for="profile-paypal">Full Name</label>
                    <h4> {{request.user.useraccountdetail.full_name}} </h4>
                  </div>
                  {% comment %} <input class="start-link" type="submit" value="Save"> {% endcomment %}
            </div>
            
            {% endif %}
          </div>
          

        
      </div>
    </div>
  </div>
</main>

<script src="js/profile.js"></script>
<script src="js/main.js"></script>
{% endblock content %}
