{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CashPop - Earn Money with Simple Tasks{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "images/cashpop-logo.png" %}" type="image/x-icon">
  </head>

  <body>
    
    {% block header %}
      {% include "base/header.html" %}
    {% endblock header %}
    
    {% include "base/mobile_navbar.html" %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    
    
    
    {% endblock content %}

    <!-- Footer -->
    {% block footer %}

      {% if request.user.is_authenticated %}
      <footer></footer>
      {% else %}
      <footer class="footer">
        <div class="container">
          <div class="footer-content">
            <div class="footer-logo">
              <img class="logo-icon" src=" {% static "images/cashpop-logo.png" %}" alt="">
              <span class="logo-text">CashPop</span>
            </div>
            <div class="footer-links">
              <div class="footer-links-column">
                <!-- <h3>Company</h3>
                <ul>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Blog</a></li>
                </ul> -->
              </div>
              <div class="footer-links-column">
                <h3>Resources</h3>
                <ul>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Task Guidelines</a></li>
                </ul>
              </div>
              <div class="footer-links-column">
                <!-- <h3>Legal</h3> -->
                <ul>
                  <!-- <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Cookie Policy</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <p>&copy; 2025 CashPop. All rights reserved.</p>
            <div class="social-links">
              <a href="#" class="social-link">Facebook</a>
              <!-- <a href="#" class="social-link">Twitter</a> -->
              <a href="#" class="social-link">Instagram</a>
            </div>
          </div>
        </div>
      </footer>
    {% endif %}

    {% endblock footer %}
    
    <script src=" {% static "js/main.js" %} "></script>
  </body>
</html>