{% extends "base/main.html" %}
{% block title %}Profile - CashPop{% endblock title %}

{% block content %}

<!-- Profile Content -->
<main class="profile">
  <div class="container">
    <h1 class="page-title">My Profile</h1>
    
    <div class="profile-container">
      {% include "base/profile_sidebar.html" %}
      
      <div class="profile-main">
        {% include "base/profile_nav_links.html" %}
        
        <div class="profile-tab-content active" id="history">
          <h2>Recent Tasks</h2>
          <div class="task-history">
            {% for task in usertask %}
            {% if request.user.id == task.user.id %}
            <div class="task-history-item">
              <div class="task-history-details">
                <h3>{{task.task.title}}</h3>
                <p class="task-history-date">{{task.completed_at | timesince}}</p>
              </div>
              <div class="task-history-reward">&#8358;{{task.task.reward}}</div>
              <div>
                {% if task.status == "completed" %}
                <div class="task-history-status completed">{{task.status}}</div>
                {% elif task.status == "pending" %}
                <div class="task-history-status pending">{{task.status}}</div>
                {% else %}
                <div class="task-history-status completed">{{task.status}}</div>
                {% endif %}
              </div>
            </div>
            
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="js/profile.js"></script>
<script src="js/main.js"></script>
{% endblock content %}
