<div class="profile-sidebar">
    <div class="profile-card">
      <h2 class="profile-name">{{request.user.first_name.capitalize}}</h2>
      <p class="profile-email">{{request.user.username}}</p>
      <p class="profile-member-since">{{request.user.userprofile.date_joined | timesince}}</p>
    </div>
    
    <div class="profile-stats">
      <div class="profile-stat-item">
        <h3>Total Earned</h3>
        <p>&#8358;{{request.user.userprofile.total_reward}}</p>
      </div>
      <div class="profile-stat-item">
        <h3>Tasks Completed</h3>
        <p>{{request.user.userprofile.total_task_completed}}</p>
      </div>
    </div>
    
    <div class="profile-actions">
      <!-- <button class="btn btn-outline btn-block">Edit Profile</button> -->
      <a class="btn btn-primary btn-block" href=" {% url "base:withdraw" %} ">Withdraw</a>
    </div>
  </div>