{% extends "base/main.html" %}
{% block title %}Profile - CashPop{% endblock title %}

{% block content %}

<!-- Profile Content -->
<main class="profile">
  <div class="container">
    <h1 class="page-title">My Profile</h1>
    
    <div class="profile-container">
      {% include "base/profile_sidebar.html" %}
      
      <div class="profile-main">
        {% include "base/profile_nav_links.html" %}
        
        <div>
          <div class="profile-tab-content" id="payments">
          <h2>Confirm Renew</h2>
          <p>&#8358;500 will be deducted from your wallet for the renewal of your subscription. <br> Are you sure you want to continue</p>
            <form action="" method="POST">
                {% csrf_token %}
                <input class="approve" type="submit" value = "Renew">
                <a class="start-link" href="{% url "base:dashboard" %}">Go Back</a>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="js/profile.js"></script>
<script src="js/main.js"></script>
{% endblock content %}
