{% extends "base/main.html" %}
{% block title %}Profile - CashPop{% endblock title %}

{% block content %}

<!-- Profile Content -->
<main class="profile">
  <div class="container">
    <h1 class="page-title">My Profile</h1>
    
    <div class="profile-container">
      {% include "base/profile_sidebar.html" %}
      
      <div class="profile-main">
        {% include "base/profile_nav_links.html" %}
        
        <div>
          <div class="profile-tab-content" id="payments">
            <h2>Request Withdrawal</h2>

            <div class="earning-transfer">
              <h4>Transfer for Task Earning to Wallet</h4>
              <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="move_amount">
                <input type="hidden" name="action" value="move">
                <input class="start-link" type="submit" value="Transfer">
              <p>Task-Earning Balance: &#8358;{{request.user.userprofile.task_earning}}</p>
              </form>
            </div>


            <div class="payment-history">
              <div class="payment-history-item">
                <form action="" method="POST">
                  {% csrf_token %}
                  <label for="amount">Amount to withdraw</label><br>
                  <input type="hidden" name="action" value="withdraw">
                  <input type="text" name="amount"><br>
                  <small>NOTE: minimum wiithdrawal is &#8358;5,000</small><br>
                  <input class="start-link" type="submit" name="withdraw" value="Request Withdrawal"><br>
                </form>
              </div>
              <div>
                <h3>Withdrawal History</h3>
                {% for withdraw in withdraws %}
                {% if withdraw.user == request.user %}
                <div class="withdraw-wrapper">
                  <div class="amount-container">
                    <h4>&#8358;{{withdraw.amount}}</h4>
                    <span>{{withdraw.requested_at | timesince}} ago</span>
                  </div>
                  <div>
                    {% if withdraw.status == pending %}
                    <h5  class="status-pending"> {{withdraw.status}} </h5>
                    {% else %}
                    <h5  class="status-completed"> {{withdraw.status}} </h5>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="js/profile.js"></script>
<script src="js/main.js"></script>
{% endblock content %}
